<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/map.css"></link>
<link rel="stylesheet" href="/stylesheets/index.css"></link>
<!-- Scrolling tabs -->
<link rel='stylesheet' type="text/css" href="/stylesheets/jquery.scrolling-tabs.min.css"></link>


<% include ../partials/nav %>

<div class="container p-sm-0">
  <!-- Nav tabs -->
  <ul class="nav nav-pills mb-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="storms-tab" data-toggle="tab" href="#storms" role="tab" aria-controls="Storms" aria-selected="true">Current Storms</a>
    </li>
    <%if(currentUser){%>
    <li class="nav-item">
      <a class="nav-link" id="sites-tab" data-toggle="tab" href="#sites" role="tab" aria-controls="Sites" aria-selected="false">Company Assets</a>
    </li>
    <%}%>
    <% stormtabs.forEach(function(tab){ %>
      <li class="nav-item">
        <a class="nav-link" id="<%= tab._id %>-tab" data-toggle="tab" href="#<%= tab._id %>" role="tab" aria-controls="<%= tab.name %>" aria-selected="false"><%= tab.name %> Cat. <%= tab.category %></a>
      </li>
    <% }); %>
    
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="storms" role="tabpanel" aria-labelledby="storms-tab">
      <div class="row" style="width: 100%;">
        <div class="col">
          <div class="row mx-auto">
            <% storms.forEach(function(storm){ %>
              <% if(storm.isDup != true) { %>
                <div class="card mb-3 stormCard mx-auto mx-md-3 mx-xl-auto">
                  <div class="card-header">
                    <h5 class="d-inline"><%= storm.name %></h5>
                    <% if( storm.category < 1){ %>
                    <% } else { %>
                    <h5 class="text-right d-inline">(CAT <%= storm.category %>)</h5>
                    <% } %>
                  </div>
                  <div class="card-body">
                    <div class="row no-gutters mb-3">
                      <div class="col">
                        <div class="row ">
                          <div class="col-2 pl-2"><i class="fas fa-forward weatherIcon" data-fa-transform="down-6"></i></div>
                          <div class="col-9">
                            <div class="row text-muted small ml-0">Speed (mph)</div>
                            <div class="row ml-0 norm"><%= storm.fspeed %></div>
                          </div>  
                        </div>
                        
                      </div>
                      <div class="col">
                        <div class="row ">
                          <div class="col-2"><i class="fas fa-compass weatherIcon" data-fa-transform="down-6"></i></div>
                          <div class="col-9">
                            <div class="row text-muted small ml-0">Direction</div>
                            <div class="row ml-0 norm"><%= storm.direction %>°</div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="row ">
                          <div class="col-2"><i class="fas fa-map-marker weatherIcon" data-fa-transform="down-6"></i></div>
                          <div class="col-9 pr-0">
                            <div class="row text-muted small ml-0">Location</div>
                            <div class="ml-0 norm"><%= storm.lat %>°, <%= storm.lng %>°</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row no-gutters">
                      <div class="col">
                        <div class="row ">
                          <div class="col-2 d-flex align-items-center pl-2"><img class="weatherIcon" src="/icons/wind.png"></div>
                          <div class="col-9">
                            <div class="row text-muted small ml-0">Wind (mph)</div>
                            <div class="row ml-0 norm"><%= storm.wind %> mph</div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="row ">
                          <div class="col-2 d-flex align-items-center"><img class="weatherIcon" src="/icons/gust.png"></div>
                          <div class="col-9">
                            <div class="row text-muted small ml-0">Gusts (mph)</div>
                            <div class="row ml-0 norm"><%= storm.gusts %></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="row ">
                          <div class="col-2 d-flex align-items-center"><img class="weatherIcon" src="/icons/pressure.png"></div>
                          <div class="col-9 pr-0">
                            <div class="row text-muted small ml-0">Pressure</div>
                            <div class="row ml-0 norm"><%= storm.pressure %></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% } %>
            <% }); %>
          </div>
        </div>

        <div class="col-12 col-xl-8">
          <div id="map2" class="map mt-0 mt-lg-2 rounded"></div> 
          <div id="legend" class="row align-items-center align-items-stretch" style="margin: 0;">
            <div class="col text-center shadow" style="background: #46719A">TS</div>
            <div class="col text-center shadow" style="background: #3AAD00">CAT 1</div>
            <div class="col text-center shadow" style="background: #FFFD03">CAT 2</div>
            <div class="col text-center shadow" style="background: #FFAC00">CAT 3</div>
            <div class="col text-center shadow" style="background: #E5521C">CAT 4</div>
            <div class="col text-center shadow" style="background: #7F0B99">CAT 5</div>
          </div>
          <p class="credited mt-3 mb-1 text-center muted">Data provided by 
          <a class="muted" href="https://www.wunderground.com/?apiref=906c96c4bb4ea25d">Wunderground</a>
          and the 
          <a class="muted" href="https://www.nhc.noaa.gov/">NHC</a></p>
          <p class=" mt-1 credited text-center muted"><a class="muted" href="#">Legend</a></p>
        </div>
    </div>
    </div>
    <div class="tab-pane" id="sites" role="tabpanel" aria-labelledby="sites-tab">
      <div id="map" class="map mt-0 mt-lg-2 rounded"></div> 
    </div>
    <% stormtabs.forEach(function(tab){ %>
      <div class="tab-pane" id="<%= tab._id %>" role="tabpanel" aria-labelledby="<%= tab.name %>">
        <div class="row" style="width:100%;">
          <%tab.cards.forEach(function(card){ if(card.isActive){ %>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="<%= card.url %>"></img>
                    <div class="card-body">
                        <p class="card-text"><%= card.desc %></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <!--<a class="btn btn-sm btn-outline-secondary" href="/storms/Iris/iris_track.png" target="_blank">View</a>-->
                            <small class="text-muted"><%= card.title %></small>
                        </div>
                    </div>
                </div>
            </div>
          <% } }); %>
        </div>
      </div>
    <% }); %>
  </div>

</div>

<script>var cones = JSON.parse('<%-JSON.stringify(cones)%>');</script>
<script>var storms = JSON.parse('<%- JSON.stringify(storms) %>');</script>
<script>var sites = JSON.parse('<%- JSON.stringify(sites) %>');</script>
<script>var allSites = JSON.parse('<%- JSON.stringify(allSites) %>');</script>

<script src="/scripts/tropicalmap.js"></script>


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLEJSKEY%>&callback=initMap"></script>

<!-- Scrolling tabs -->
<script async src='/scripts/jquery.scrolling-tabs.min.js'></script>
<script async src='/scripts/scrolling.js'></script>

<% include ../partials/footer %>