<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/edit.css">
<% include ../partials/nav %>

<div class="container pb-5">
    <h1 class="">Update Asset</h1>
    <div class="pb-5">
        <form class="group p-3" action="/sites/<%= site._id %>?_method=PUT" method="POST" id="siteForm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Type</span>
                </div>
                <select required class="input custom-select" name="type" form="siteForm">
                    <option disabled hidden>Select the type of site</option>
                    <% let options = [ "Platform", "MODU", "Deepwater", "Other" ]; %>
                    <% options.forEach(function(option){ %>
                        <% var selected = ( site.properties.type == option ) ? "selected" : "";%>
                        <option value="<%= option %>" <%= selected %> ><%= option %></option>
                    <% }); %>
                </select>   
            </div>
            <% var areas = ['AC', 'BA', 'BM', 'BS', 'CA', 'EB', 'EC', 'EI', 'EW', 
                'GA', 'GB', 'GC', 'GI', 'HI', 'KC', 'MC', 'MI', 'MO', 'MP', 'MU', 'PL',
                'PN', 'PS', 'SA', 'SM', 'SP', 'SS', 'ST', 'VK', 'VR', 'WC', 'WD', 'WR']; %>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Area Code</span>
                </div>
                <select class="custom-select" name="areaCode" form="siteForm">
                    <option disabled hidden>Select the area code</option>
                    <% areas.forEach(function(area){ %>
                        <% var selected = ( site.properties.areaCode == area ) ? "selected" : ""; %>
                        <option value="<%= area %>" <%= selected %> ><%= area %></option>
                    <% }); %>
                </select>
            </div>
            <% let attributes = [
                    {
                        name: 'Block Number',
                        short: 'blockNumber',
                        type: 'number',
                        value: site.properties.blockNumber
                    },
                    {
                        name: 'Field',
                        short: 'field',
                        type: 'text',
                        value: site.properties.field
                    },
                    {
                        name: 'Structure Name',
                        short: 'name',
                        type: 'text',
                        value: site.properties.name
                    },
                    {
                        name: 'Latitude',
                        short: 'lat',
                        type: 'number',
                        value: site.geometry.coordinates[1],
                        step: 0.00000001
                        
                    },
                    {
                        name: 'Longitude',
                        short: 'lng',
                        type: 'number',
                        value: site.geometry.coordinates[0],
                        step: 0.00000001
                    },
                    {
                        name: 'Air Gap - ft',
                        short: 'airGap',
                        type: 'number',
                        value: site.properties.airGap
                    },
                    {
                        name: 'Water Depth - ft',
                        short: 'waterDepth',
                        type: 'number',
                        value: site.properties.waterDepth
                    },
                    {
                        name: "Working Interest - %",
                        short: "workingInt",
                        type: "number",
                        value: site.properties.workingInt,
                        step: 0.01,
                        min: 0,
                        max: 100
                    },
                    {
                        name: "PD - $",
                        short: "pd",
                        type: "number",
                        value: site.properties.pd,
                        step: 0.01
                    },
                    {
                        name: "ROD - % of PD",
                        short: "rod",
                        type: "number",
                        value: site.properties.rod,
                        step: 0.01,
                        min: 0,
                        max: 100
                    },
                    {
                        name: "S&L - % of PD",
                        short: "sl",
                        type: "number",
                        value: site.properties.sl,
                        step: 0.01,
                        min: 0,
                        max: 100
                    },
                    {
                        name: "OEE - $",
                        short: "oee",
                        type: "number",
                        value: site.properties.oee,
                        step: 0.01
                    },
                    {
                        name: "LOPI - $",
                        short: "lopi",
                        type: "number",
                        value: site.properties.lopi,
                        step: 0.01
                    },
                    {
                        name: "Windstorm CSL - $",
                        short: "windstormCSL",
                        type: "number",
                        value: site.properties.windstormCSL,
                        step: 0.01
                    },
                    {
                        name: "Windstorm Retention - $",
                        short: "windstormRet",
                        type: "number",
                        value: site.properties.windstormRet,
                        step: 0.01
                    },
                ];%>
            <% attributes.forEach(function(attr){ %>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><%= attr.name %></span>
                    </div>
                    <input name="<%= attr.short %>" type="<%= attr.type %>" 
                        class="form-control input" value="<%= attr.value %>" 
                        aria-label="<%= attr.name %>" step=<%= attr.step %>>
                </div>
            <% }); %>
            <button type="submit" class="btn btn-success float-right removeBtn">Update Asset</button>
        </form>
    </div>
</div>

<% include ../partials/footer %>