<% include ../partials/header %>
<link href="/stylesheets/edit.css" rel="stylesheet">
<% include ../partials/nav %>

<div class="container">
    <h1 class="">Add New Asset</h1>
    <div class="pb-5">
        <form class="group p-3" action="/sites/new" method="POST" id="siteForm">
            <% var areas = ['AC', 'BA', 'BM', 'BS', 'CA', 'EB', 'EC', 'EI', 'EW', 
                'GA', 'GB', 'GC', 'GI', 'HI', 'KC', 'MC', 'MI', 'MO', 'MP', 'MU', 'PL',
                'PN', 'PS', 'SA', 'SM', 'SP', 'SS', 'ST', 'VK', 'VR', 'WC', 'WD', 'WR'] %>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Area Code</span>
                </div>
                <select class="custom-select" name="areaCode" form="siteForm">
                    <option disabled hidden>Select the area code</option>
                    <% areas.forEach(function(area){ %>
                    <option value="<%= area %>"><%= area %></option>
                    <% }) %>
                </select>
            </div>
            <% let attributes = [
                    {
                        name: 'Block Number',
                        short: 'blockNumber',
                        type: 'text',
                    },
                    {
                        name: 'Field',
                        short: 'field',
                        type: 'text',
                    },
                    {
                        name: 'Structure Name',
                        short: 'name',
                        type: 'text'
                    },
                    {
                        name: 'Latitude',
                        short: 'lat',
                        type: 'number',
                        step: 0.00000001
                    },
                    {
                        name: 'Longitude',
                        short: 'lng',
                        type: 'number',
                        step: 0.00000001
                    },
                    {
                        name: 'Air Gap',
                        short: 'airGap',
                        type: 'number',
                        step: 0.5
                    },
                    {
                        name: 'Water Depth',
                        short: 'depth',
                        type: 'number',
                        step: 0.5
                    },
                    {
                        name: "Working Interest - %",
                        short: "workingInt",
                        type: "number",
                        step: 0.01,
                        min: 0,
                        max: 100
                    },
                    {
                        name: "PD - $",
                        short: "pd",
                        type: "number",
                        step: 0.01
                    },
                    {
                        name: "ROD - % of PD",
                        short: "rod",
                        type: "number",
                        step: 0.01,
                        min: 0,
                        max: 100
                    },
                    {
                        name: "S&L - % of PD",
                        short: "sl",
                        type: "number",
                        step: 0.01,
                        min: 0,
                        max: 100
                    },
                    {
                        name: "OEE - $",
                        short: "oee",
                        type: "number",
                        step: 0.01
                    },
                    {
                        name: "LOPI - $",
                        short: "lopi",
                        type: "number",
                        step: 0.01
                    },
                    {
                        name: "Windstorm CSL - $",
                        short: "windstormCSL",
                        type: "number",
                        step: 0.01
                    },
                    {
                        name: "Windstorm Retention - $",
                        short: "windstormRet",
                        type: "number",
                        step: 0.01
                    },
                ];%>
            <% attributes.forEach(function(attr){ %>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><%= attr.name %></span>
                    </div>
                    <input name="<%= attr.short %>" type="<%= attr.type %>" 
                    class="form-control input" placeholder="<%= attr.name %>" 
                    aria-label="<%= attr.name %>" min="<%= attr.min %>" max="<%= attr.max %>"
                    step="<%= attr.step %>">
                </div>
            <% }); %>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Type</span>
                    </div>
                    <select required class="input custom-select" name="type" form="siteForm" id="inputTypeOfSite">
                        <option disabled hidden>Select the type of site</option>
                        <option value="Platform">Platform</option>
                        <option value="MODU">MODU</option>
                        <option value="Deepwater">Deep Water</option>
                        <option value="Other">Other</option>
                    </select>   
                </div>
            <button type="submit" class="btn btn-success float-right removeBtn">Add Asset</button>
        </form>
    </div>
</div>


<% include ../partials/footer %>