<% include ../partials/header %>
<link href="/stylesheets/edit.css" rel="stylesheet">
<% include ../partials/nav %>

<div class='container'>
    <a href="/sites" class="btn h3" style="background: var(--matdan-blue);">Go Back</a>
    
    <h4 class="text-center h5">Edit &amp; Add Coverage Information</h4>

    
    <div class="mt-3">
        <% objects.forEach(function(obj){ %>
            <div class="group mb-5 p-3" onsubmit="return submitdata(this);">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Type</span>
                    </div>
                    <select required class="input custom-select type" name="type" form="siteForm2" id="inputTypeOfSite">
                        <option value="" selected>Select the type of site</option>
                        <option value="Platform">Platform</option>
                        <option value="MODU">MODU</option>
                        <option value="Deepwater">Deep Water</option>
                        <option value="Other">Other</option>
                    </select>   
                </div>
                <% var areas = ['AC', 'BA', 'BM', 'BS', 'CA', 'EB', 'EC', 'EI', 'EW', 
                    'GA', 'GB', 'GC', 'GI', 'HI', 'KC', 'MC', 'MI', 'MO', 'MP', 'MU', 'PL',
                    'PN', 'PS', 'SA', 'SM', 'SP', 'SS', 'ST', 'VK', 'VR', 'WC', 'WD', 'WR'] %>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Area Code</span>
                    </div>
                    <select class="custom-select input areaCode" name="Area Code" form="siteForm">
                        <% areas.forEach(function(area, i){ %>
                            <% var selected = ( obj['Area Code'] == area ) ? "selected" : ""; %>
                            <option value="<%= area %>" <%= selected %>><%= area %></option>
                        <% }); %>
                    </select>
                </div>
                <% var attributes = [
                    {
                        name: 'Block Number',
                        short:'blockNumber',
                        type: 'number'
                    },
                    {
                        name: 'Field',
                        short:'field',
                        type: 'text'
                    },
                    {
                        name: 'Structure Name',
                        short:'name',
                        type: 'text'
                    },
                    {
                        name: 'Latitude',
                        short:'lat',
                        type: 'number'
                    },
                    {
                        name: 'Longitude',
                        short:'lng',
                        type: 'number'
                    },
                    {
                        name: 'Water Depth',
                        short:'waterDepth',
                        type: 'number',
                        min: 0,
                        post: 'ft'
                    },
                    {
                        name: 'Air Gap',
                        short:'airGap',
                        type: 'number',
                        min: 0,
                        post: 'ft'
                    },
                    {
                        name: 'Working Interest',
                        short:'workingInt',
                        type: 'number',
                        post: '%',
                        min: 0,
                        max: 100
                    },
                    {
                        name: 'PD',
                        short:'pd',
                        type: 'number',
                        pre: '$'
                    },
                    {
                        name: 'ROD',
                        short:'rod',
                        type: 'number',
                        min: 0,
                        max: 1,
                        step: 0.01,
                        post: '% of PD'
                    },
                    {
                        name: 'S&L',
                        short:'sl',
                        type: 'number',
                        min: 0,
                        max: 1,
                        step: 0.01,
                        post: '% of PD'
                    },
                    {
                        name: 'OEE',
                        short:'oee',
                        type: 'number',
                        pre: '$'
                    },
                    {
                        name: 'LOPI',
                        short:'lopi',
                        type: 'number',
                        pre: '$'
                    },
                    {
                        name: 'Windstorm CSL',
                        short:'windstormCSL',
                        type: 'number',
                        pre: '$'
                    },
                    {
                        name: 'Windstorm Retention',
                        short:'windstormRet',
                        type: 'number',
                        pre: '$'
                    },
                ]; %>
                <% attributes.forEach(function(attr) { %>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><%= attr.name %></span>
                        </div>
                        <% if( attr.pre ){ %>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><%= attr.pre %></span>
                            </div>
                        <% } %>
                        <input name="<%= attr.short %>" type="<%= attr.type %>" class="form-control input <%= attr.short %>" 
                        value="<%= obj[ attr.name ] %>" aria-label="<%= attr.name %>"
                        min="<%= attr.min %>" max="<%= attr.max %>" step="<%= attr.step %>">
                        <% if( attr.post ){ %>
                            <div class="input-group-append">
                                <span class="input-group-text"><%= attr.post %></span>
                            </div>
                        <% } %>
                    </div>
                <% }); %>
                <button class="btn btn-danger float-right removeBtn">Discard</button>
                <button class="btn btn-success float-right addBtn mr-3">Add Asset</button>
            </div>
        <% }); %>
    </div>
    <a class="btn btn-success" href="/sites">Finished</a>
</div>

<script src="/scripts/assetArr.js"></script>

<% include ../partials/footer %>